html.dark {
  color-scheme: dark;
  --lu-color-primary-first: #6f62ea;
  --lu-color-primary-second: #9278f3;
  --lu-color-primary-third: #a697f4;
  --lu-color-primary-fourth: #d6cffa;
  --lu-color-active-first: #3e3b63;
  --lu-color-active-second: #545472;
  --lu-color-active-third: #7a7996;
  --lu-color-active-fourth: #7a7996;
  --lu-text-color-primary: #ececec;
  --lu-text-color-regular: #bab1c0;
  --lu-text-color-placeholder: #766b81;
  --lu-text-color-disabled: #41374d;
  --lu-border-color: #ececec;
  --lu-fill-color: #ececec;
  --lu-bg-color: transparent;
  --lu-bg-color-overlay: #333333;
}

html {
  color-scheme: light;
  --lu-color-primary-first: #6f62ea;
  --lu-color-primary-second: #9278f3;
  --lu-color-primary-third: #a697f4;
  --lu-color-primary-fourth: #d6cffa;
  --lu-color-active-first: #3e3b63;
  --lu-color-active-second: #545472;
  --lu-color-active-third: #7a7996;
  --lu-color-active-fourth: #a9a6ce;
  --lu-text-color-primary: #41374d;
  --lu-text-color-regular: #766b81;
  --lu-text-color-placeholder: #bab1c0;
  --lu-text-color-disabled: #d6ccd1;
  --lu-border-color: #d6ccd1;
  --lu-border-color-lighter: #ececec;
  --lu-fill-color: #ffffff;
  --lu-bg-color: #ffffff;
  --lu-bg-color-overlay: #ffffff;
  --lu-font-size-extra-large: 20px;
  --lu-font-size-large: 18px;
  --lu-font-size-medium: 16px;
  --lu-font-size-base: 14px;
  --lu-font-size-small: 13px;
  --lu-font-size-extra-small: 12px;
  --lu-font-weight-primary: 500;
  --lu-border-primary: 1px solid;
  --lu-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --lu-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --lu-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --lu-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --lu-border-radius-base: 4px;
  --lu-border-radius-small: 2px;
  --lu-border-radius-large: 6px;
  --lu-border-radius-round: 20px;
  --lu-border-radius-circle: 100%;
  --lu-line-height-primary: 24px;
}