.lu-button {
  --lu-button-font-weight: var(--lu-font-weight-primary);
  --lu-button-border-color: var(--lu-color-primary-first);
  --lu-button-bg-color: var(--lu-color-primary-first);
  --lu-button-text-color: var(--lu-fill-color);
  --lu-button-disabled-bg-color: var(--lu-text-color-disabled);
  --lu-button-disabled-border-color: var(--lu-text-color-disabled);
  --lu-button-hover-text-color: var(--lu-fill-color);
  --lu-button-hover-bg-color: var(--lu-color-primary-second);
  --lu-button-hover-border-color: var(--lu-color-primary-second);
  --lu-button-active-border-color: var(--lu-color-active-first);
  --lu-button-active-bg-color: var(--lu-color-active-first);
  --lu-button-active-text-color: var(--lu-fill-color);
}

.lu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--lu-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: var(--lu-font-size-medium);
  font-weight: var(--lu-button-font-weight);
  background-color: var(--lu-button-bg-color);
  border: var(--lu-border-primary);
  border-color: var(--lu-button-border-color);
  border-radius: var(--lu-border-radius-base);
  padding: 9px 14px;
}
.lu-button:hover, .lu-button:focus {
  color: var(--lu-button-hover-text-color);
  border-color: var(--lu-button-hover-border-color);
  background-color: var(--lu-button-hover-bg-color);
  outline: none;
}
.lu-button:active {
  color: var(--lu-button-active-text-color);
  border-color: var(--lu-button-active-border-color);
  background-color: var(--lu-button-active-bg-color);
  outline: none;
}
.lu-button > span {
  display: inline-flex;
  align-items: center;
}
.lu-button.is-plain {
  --lu-button-text-color: var(--lu-text-color-primary);
  --lu-button-bg-color: var(--lu-bg-color);
  --lu-button-border-color: var(--lu-border-color);
  --lu-button-hover-text-color: var(--lu-color-primary-first);
  --lu-button-hover-bg-color: var(--lu-fill);
  --lu-button-active-bg-color: var(--lu-color-primary-first);
  --lu-button-active-border-color: var(--lu-color-primary-first);
  --lu-button-active-text-color: var(--lu-fill-color);
}

.lu-button.is-round {
  border-radius: var(--lu-border-radius-round);
}

.lu-button.is-circle {
  font-size: var(--lu-font-size-extra-small);
  width: 32px;
  padding: 8px;
  border-radius: var(--lu-border-radius-circle);
}

.lu-button.is-disabled {
  cursor: not-allowed;
  background-color: var(--lu-button-disabled-bg-color);
  border-color: var(--lu-button-disabled-border-color);
}

.lu-button--small {
  height: 24px;
  padding: 6px 12px;
  font-size: var(--lu-font-size-small);
  border-radius: var(--lu-border-radius-small);
}

.lu-button--large {
  height: 40px;
  padding: 12px 16px;
  font-size: var(--lu-font-size-large);
  border-radius: var(--lu-border-radius-large);
}