html.dark {
  color-scheme: dark;
  --lu-color-primary-first: #6f62ea;
  --lu-color-primary-second: #9278f3;
  --lu-color-primary-third: #a697f4;
  --lu-color-primary-fourth: #d6cffa;
  --lu-color-active-first: #3e3b63;
  --lu-color-active-second: #545472;
  --lu-color-active-third: #7a7996;
  --lu-color-active-fourth: #7a7996;
  --lu-text-color-primary: #ececec;
  --lu-text-color-regular: #bab1c0;
  --lu-text-color-placeholder: #766b81;
  --lu-text-color-disabled: #41374d;
  --lu-border-color: #ececec;
  --lu-fill-color: #ececec;
  --lu-bg-color: transparent;
  --lu-bg-color-overlay: #333333;
}

html {
  color-scheme: light;
  --lu-color-primary-first: #6f62ea;
  --lu-color-primary-second: #9278f3;
  --lu-color-primary-third: #a697f4;
  --lu-color-primary-fourth: #d6cffa;
  --lu-color-active-first: #3e3b63;
  --lu-color-active-second: #545472;
  --lu-color-active-third: #7a7996;
  --lu-color-active-fourth: #a9a6ce;
  --lu-text-color-primary: #41374d;
  --lu-text-color-regular: #766b81;
  --lu-text-color-placeholder: #bab1c0;
  --lu-text-color-disabled: #d6ccd1;
  --lu-border-color: #d6ccd1;
  --lu-border-color-lighter: #ececec;
  --lu-fill-color: #ffffff;
  --lu-bg-color: #ffffff;
  --lu-bg-color-overlay: #ffffff;
  --lu-font-size-extra-large: 20px;
  --lu-font-size-large: 18px;
  --lu-font-size-medium: 16px;
  --lu-font-size-base: 14px;
  --lu-font-size-small: 13px;
  --lu-font-size-extra-small: 12px;
  --lu-font-weight-primary: 500;
  --lu-border-primary: 1px solid;
  --lu-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --lu-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --lu-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --lu-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --lu-border-radius-base: 4px;
  --lu-border-radius-small: 2px;
  --lu-border-radius-large: 6px;
  --lu-border-radius-round: 20px;
  --lu-border-radius-circle: 100%;
  --lu-line-height-primary: 24px;
}

.lu-fade-in-linear-enter-active,
.lu-fade-in-linear-leave-active {
  transition: opacity 0.2s linear;
}

.lu-fade-in-linear-enter-from,
.lu-fade-in-linear-leave-to {
  opacity: 0;
}

.lu-zoom-in-top-enter-active,
.lu-zoom-in-top-leave-active {
  transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: center top;
}
.lu-zoom-in-top-enter-active[data-popper-placement^=top],
.lu-zoom-in-top-leave-active[data-popper-placement^=top] {
  transform-origin: center bottom;
}

.lu-zoom-in-top-enter-from,
.lu-zoom-in-top-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.lu-collapse-transition-leave-active,
.lu-collapse-transition-enter-active {
  transition: 0.3s max-height ease-in-out;
}

.lu-button {
  --lu-button-font-weight: var(--lu-font-weight-primary);
  --lu-button-border-color: var(--lu-color-primary-first);
  --lu-button-bg-color: var(--lu-color-primary-first);
  --lu-button-text-color: var(--lu-fill-color);
  --lu-button-disabled-bg-color: var(--lu-text-color-disabled);
  --lu-button-disabled-border-color: var(--lu-text-color-disabled);
  --lu-button-hover-text-color: var(--lu-fill-color);
  --lu-button-hover-bg-color: var(--lu-color-primary-second);
  --lu-button-hover-border-color: var(--lu-color-primary-second);
  --lu-button-active-border-color: var(--lu-color-active-first);
  --lu-button-active-bg-color: var(--lu-color-active-first);
  --lu-button-active-text-color: var(--lu-fill-color);
}

.lu-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  color: var(--lu-button-text-color);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: var(--lu-font-size-medium);
  font-weight: var(--lu-button-font-weight);
  background-color: var(--lu-button-bg-color);
  border: var(--lu-border-primary);
  border-color: var(--lu-button-border-color);
  border-radius: var(--lu-border-radius-base);
  padding: 9px 14px;
}
.lu-button:hover, .lu-button:focus {
  color: var(--lu-button-hover-text-color);
  border-color: var(--lu-button-hover-border-color);
  background-color: var(--lu-button-hover-bg-color);
  outline: none;
}
.lu-button:active {
  color: var(--lu-button-active-text-color);
  border-color: var(--lu-button-active-border-color);
  background-color: var(--lu-button-active-bg-color);
  outline: none;
}
.lu-button > span {
  display: inline-flex;
  align-items: center;
}
.lu-button.is-plain {
  --lu-button-text-color: var(--lu-text-color-primary);
  --lu-button-bg-color: var(--lu-bg-color);
  --lu-button-border-color: var(--lu-border-color);
  --lu-button-hover-text-color: var(--lu-color-primary-first);
  --lu-button-hover-bg-color: var(--lu-fill);
  --lu-button-active-bg-color: var(--lu-color-primary-first);
  --lu-button-active-border-color: var(--lu-color-primary-first);
  --lu-button-active-text-color: var(--lu-fill-color);
}

.lu-button.is-round {
  border-radius: var(--lu-border-radius-round);
}

.lu-button.is-circle {
  font-size: var(--lu-font-size-extra-small);
  width: 32px;
  padding: 8px;
  border-radius: var(--lu-border-radius-circle);
}

.lu-button.is-disabled {
  cursor: not-allowed;
  background-color: var(--lu-button-disabled-bg-color);
  border-color: var(--lu-button-disabled-border-color);
}

.lu-button--small {
  height: 24px;
  padding: 6px 12px;
  font-size: var(--lu-font-size-small);
  border-radius: var(--lu-border-radius-small);
}

.lu-button--large {
  height: 40px;
  padding: 12px 16px;
  font-size: var(--lu-font-size-large);
  border-radius: var(--lu-border-radius-large);
}

.lu-popper {
  position: absolute;
  border-radius: var(--lu-border-radius-base);
  padding: 5px 10px;
  z-index: 1000;
  font-size: 12px;
  line-height: 20px;
}
.lu-popper.is-light {
  background: var(--lu-bg-color-overlay);
  border: 1px solid var(--lu-border-color);
}
.lu-popper.is-light .lu-popper__arrow::before {
  border: 1px solid var(--lu-border-color);
  background: var(--lu-bg-color-overlay);
}

.lu-popper.is-dark {
  color: var(--lu-bg-color-overlay);
  background: var(--lu-text-color-primary);
  border: 1px solid var(--lu-text-color-primary);
}
.lu-popper.is-dark .lu-popper__arrow::before {
  border: 1px solid var(--lu-text-color-primary);
  background: var(--lu-text-color-primary);
}

.lu-popper__arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
}
.lu-popper__arrow::before {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: -1;
  content: " ";
  transform: rotate(45deg);
  background: var(--lu-bg-color);
  box-sizing: border-box;
}

.lu-popper[data-popper-placement^=top] > .lu-popper__arrow {
  bottom: -5px;
}
.lu-popper[data-popper-placement^=top] > .lu-popper__arrow::before {
  border-bottom-right-radius: 2px;
}
.lu-popper[data-popper-placement^=bottom] > .lu-popper__arrow {
  top: -5px;
}
.lu-popper[data-popper-placement^=bottom] > .lu-popper__arrow::before {
  border-top-left-radius: 2px;
}
.lu-popper[data-popper-placement^=left] > .lu-popper__arrow {
  right: -5px;
}
.lu-popper[data-popper-placement^=left] > .lu-popper__arrow::before {
  border-top-right-radius: 2px;
}
.lu-popper[data-popper-placement^=right] > .lu-popper__arrow {
  left: -5px;
}
.lu-popper[data-popper-placement^=right] > .lu-popper__arrow::before {
  border-bottom-left-radius: 2px;
}
.lu-popper[data-popper-placement^=top] .lu-popper__arrow::before {
  border-top-color: transparent !important;
  border-left-color: transparent !important;
}
.lu-popper[data-popper-placement^=bottom] .lu-popper__arrow::before {
  border-bottom-color: transparent !important;
  border-right-color: transparent !important;
}
.lu-popper[data-popper-placement^=left] .lu-popper__arrow::before {
  border-left-color: transparent !important;
  border-bottom-color: transparent !important;
}
.lu-popper[data-popper-placement^=right] .lu-popper__arrow::before {
  border-right-color: transparent !important;
  border-top-color: transparent !important;
}

.lu-popover {
  --lu-popover-bg-color: var(--lu-bg-color-overlay);
  --lu-popover-font-size: var(--lu-font-size-base);
  --lu-popover-border-color: var(--lu-border-color-lighter);
  --lu-popover-padding: 12px;
  --lu-popover-padding-large: 18px 20px;
  --lu-popover-title-font-size: 16px;
  --lu-popover-title-text-color: var(--lu-text-color-primary);
  --lu-popover-border-radius: var(--lu-border-radius-base);
}

.lu-popover.lu-popper {
  background: var(--lu-popover-bg-color);
  min-width: 150px;
  border-radius: var(--lu-popover-border-radius);
  border: 1px solid var(--lu-popover-border-color);
  padding: var(--lu-popover-padding);
  z-index: 1000;
  color: var(--lu-text-color-regular);
  line-height: 1.4;
  text-align: justify;
  font-size: var(--lu-popover-font-size);
  box-shadow: var(--lu-box-shadow-light);
  word-break: break-all;
  box-sizing: border-box;
}
.lu-popover__title {
  color: var(--lu-popover-title-text-color);
  font-size: var(--lu-popover-title-font-size);
  line-height: 1;
  margin-bottom: 12px;
}

.lu-popover.lu-popper.is-dark {
  --lu-popover-bg-color: var(--lu-text-color-primary);
  --lu-popover-border-color: var(--lu-text-color-primary);
  --lu-popover-title-text-color: var(--lu-bg-color);
  color: var(--lu-bg-color);
}

.lu-scrollbar {
  --lu-scrollbar-opacity: 0.3;
  --lu-scrollbar-bg-color: var(--lu-text-color-regular);
  --lu-scrollbar-hover-opacity: 0.5;
  --lu-scrollbar-hover-bg-color: var(--lu-text-color-regular);
}

.lu-scrollbar {
  overflow: hidden;
  position: relative;
  height: 100%;
}
.lu-scrollbar__wrap {
  overflow: auto;
  height: 100%;
}
.lu-scrollbar__wrap--hidden-default {
  scrollbar-width: none;
}
.lu-scrollbar__wrap--hidden-default::-webkit-scrollbar {
  display: none;
}

.lu-scrollbar__thumb {
  position: relative;
  display: block;
  width: 0;
  height: 0;
  cursor: pointer;
  border-radius: inherit;
  background-color: var(--lu-scrollbar-bg-color);
  transition: 0.3s background-color;
  opacity: var(--lu-scrollbar-opacity);
}
.lu-scrollbar__thumb:hover {
  background-color: var(--lu-scrollbar-hover-bg-color);
  opacity: var(--lu-scrollbar-hover-opacity);
}

.lu-scrollbar__bar {
  position: absolute;
  right: 2px;
  bottom: 2px;
  z-index: 1;
  border-radius: 4px;
}
.lu-scrollbar__bar.is-vertical {
  width: 6px;
  top: 2px;
}
.lu-scrollbar__bar.is-vertical > div {
  width: 100%;
}

.lu-scrollbar__bar.is-horizontal {
  height: 6px;
  left: 2px;
}
.lu-scrollbar__bar.is-horizontal > div {
  height: 100%;
}

.lu-scrollbar-fade-enter-active {
  transition: opacity 340ms ease-out;
}
.lu-scrollbar-fade-leave-active {
  transition: opacity 120ms ease-out;
}
.lu-scrollbar-fade-enter-from, .lu-scrollbar-fade-leave-active {
  opacity: 0;
}

.lu-dropdown {
  --lu-dropdown-menu-box-shadow: var(--lu-box-shadow-light);
  --lu-dropdown-item-hover-fill: var(--lu-fill-color);
  --lu-dropdown-item-hover-color: var(--lu-color-primary-third);
  --lu-dropdown-item-active-fill: var(--lu-color-active-first);
  --lu-dropdown-item-active-color: var(--lu-color-active-fourth);
  --lu-dropdown-menu-index: 10;
}

.lu-dropdown {
  position: relative;
  color: var(--lu-text-color-regular);
  font-size: var(--lu-font-size-base);
  line-height: 1;
}
.lu-dropdown.is-disabled {
  color: var(--lu-text-color-disabled);
  cursor: not-allowed;
}
.lu-dropdown__popper {
  --lu-dropdown-menu-box-shadow: var(--lu-box-shadow-light);
  --lu-dropdown-item-hover-fill: var(--lu-fill-color);
  --lu-dropdown-item-hover-color: var(--lu-color-primary-third);
  --lu-dropdown-item-active-fill: var(--lu-color-active-first);
  --lu-dropdown-item-active-color: var(--lu-color-active-fourth);
  --lu-dropdown-menu-index: 10;
  padding: 0;
}
.lu-dropdown__popper .lu-dropdown__list {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.lu-dropdown-menu {
  --lu-dropdown-menu-box-shadow: var(--lu-box-shadow-light);
  --lu-dropdown-item-hover-fill: var(--lu-fill-color);
  --lu-dropdown-item-hover-color: var(--lu-color-primary-third);
  --lu-dropdown-item-active-fill: var(--lu-color-active-first);
  --lu-dropdown-item-active-color: var(--lu-color-active-fourth);
  --lu-dropdown-menu-index: 10;
  display: block;
  position: relative;
  z-index: var(--lu-dropdown-menu-index);
  padding: 4px 0;
  margin: 0;
  background-color: var(--lu-bg-color-overlay);
  border: none;
  border-radius: var(--lu-border-radius-base);
  box-shadow: none;
  list-style: none;
}
.lu-dropdown-menu__item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  list-style: none;
  line-height: 22px;
  padding: 5px 16px;
  margin: 0;
  font-size: var(--lu-font-size-base);
  color: var(--lu-text-color-regular);
  cursor: pointer;
  outline: none;
}
.lu-dropdown-menu__item:hover {
  color: var(--lu-dropdown-item-hover-fill);
  background-color: var(--lu-dropdown-item-hover-color);
}
.lu-dropdown-menu__item:active {
  color: var(--lu-dropdown-item-active-fill);
  background-color: var(--lu-dropdown-item-active-color);
}
.lu-dropdown-menu__item.is-disabled {
  cursor: not-allowed;
  color: var(--lu-text-colo-disabled);
}

.lu-dropdown-menu--large {
  padding: 6px 0;
}
.lu-dropdown-menu--large .lu-dropdown-menu__item {
  padding: 7px 20px;
  line-height: 22px;
  font-size: var(--lu-font-size-large);
}

.lu-dropdown-menu--small {
  padding: 2px 0;
}
.lu-dropdown-menu--small .lu-dropdown-menu__item {
  padding: 2px 12px;
  line-height: 20px;
  font-size: var(--lu-font-size-small);
}

.lu-divider {
  position: relative;
}
.lu-divider--horizontal {
  display: block;
  height: 1px;
  width: 100%;
  margin: 12px 0;
  border-top: 1px solid var(--lu-border-color);
}

.lu-divider--vertical {
  display: inline-block;
  width: 1px;
  height: 1em;
  margin: 0 8px;
  vertical-align: middle;
  position: relative;
  border-left: 1px solid var(--lu-border-color);
}