:root {
  --vp-c-brand: var(--lu-color-primary-first);
  --vp-c-brand-light: var(--lu-color-primary-second);
  --vp-c-brand-lighter: var(--lu-color-primary-third);
  --vp-c-brand-dark: var(--lu-color-active-second);
  --vp-c-brand-darker: var(--lu-color-active-first);
  /* --vp-sidebar-bg-color: var(--lu-bg-color-light) */
}

// :root.dark {
//   /* --vp-sidebar-bg-color: var(--lu-bg-color-dark) */
// }

.VPLink.VPNavBarMenuLink {
  font-size: 16px;
  line-height: 60px;

  &.active {
    border-bottom: 2px solid var(--lu-color-primary-first);
  }
}



.VPImage.image-src {
  max-width: 342px;
  max-height: 192px;

  @media (min-width: 960px) {
    max-width: 456px;
    max-height: 256px;
  }

  @media (min-width: 1080px) {
    max-width: 534px;
    max-height: 300px;
  }
}

.main .text {
  @media (min-width: 960px) {
    font-size: 50px;
  }

  @media (min-width: 1080px) {
    font-size: 54px;
  }
}

// 表格样式
div.vp-table {
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  margin-bottom: 45px;

  & > table {
    display: table;
    border-collapse: collapse;
    width: 100%;
    background-color: var(--lu-bg-color);
    font-size: 14px;
    line-height: 1.5em;

    th,
    td {
      background-color: var(--lu-bg-color);
      white-space: nowrap;
      border: none;
      border-top: 1px solid var(--lu-border-color);
      border-bottom: 1px solid var(--lu-border-color);
      padding: 0.6em 1em;
      text-align: left;
      max-width: 250px;
      white-space: pre-wrap;
    }

    tr {
      background-color: var(--lu-bg-color);
      border-top: none;

      &:first-child th {
        border-top: none;
      }

      &:nth-child(2n) {
        background-color: var(--lu-bg-color);
      }
    }
  }
}

// 滚动条样式
::-webkit-scrollbar {
  width: 6px;

  &-thumb {
    background-color: #0003;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    @at-root {
      .dark & {
        background-color: #fff3;
      }
    }
  }

  &-track {
    border-radius: 10px;
  }
}
