@use 'sass:map';

$colors: (
  'primary': (
    'first': #6f62ea,
    'second': #9278f3,
    'third': #a697f4,
    'fourth': #d6cffa
  ),
  'active': (
    'first': #3e3b63,
    'second': #545472,
    'third': #7a7996,
    'fourth': #a9a6ce
  ),
  'status': (
    'primary': #6f62ea,
    'success': #1a8d89,
    'warning': #ecbe92,
    'info': #988b88,
    'error': #eeaca6,
    'danger': #f56c6c,
    //danger偷的element的
  )
);

$primary-color: map-get($colors, 'primary');
$active-color: map-get($colors, 'active');
$status-color: map-get($colors, 'status');

$text-color: (
  'primary': #41374d,
  'regular': #766b81,
  'placeholder': #bab1c0,
  'disabled': #d6ccd1
);

$border-color: (
  '': #d6ccd1,
  'lighter': #ececec
);

$fill-color: (
  '': #ffffff
);

$bg-color: (
  '': #ffffff,
  'overlay': #ffffff,
  'light': #ececec,
  'lighter': #ffffff
);
