$primary-color-1: #6f62ea;
$primary-color-2: #9278f3;
$primary-color-3: #a697f4;
$primary-color-4: #d6cffa;

$hover-color-1: #3e3b63;
$hover-color-2: #545472;
$hover-color-3: #7a7996;
$hover-color-4: #a9a6ce;

$primary-text: #41374d;
$regular-text: #766b81;
$placeholder-text: #bab1c0;
$disabled-text: #d6ccd1;

$border-color: #ececec;

$fill-color: #ffffff;

$background-color: #ffffff;

