$primary-1: #6f62ea;
$primary-2: #9278f3;
$primary-3: #a697f4;
$primary-4: #d6cffa;

$initial-1: #1a8d89;
$initial-2: #399f99;
$initial-3: #56aea8;
$initial-4: #57c6ae;

$luna-1: #8b7f99;
$luna-2: #bab1c0;
$luna-3: #d6ccd1;
$luna-4: #ececec;

$asahi-1: #3e3b63;
$asahi-2: #545472;
$asahi-3: #656585;
$asahi-4: #a9a6ce;

$minato-1: #8e5e73;
$minato-2: #eeaca6;
$minato-3: #f4beb1;
$minato-4: #fcd3c4;

$ursule-1: #ecbe92;
$ursule-2: #f9d398;
$ursule-3: #fadea0;
$ursule-4: #fefaba;

$mizuho-1: #41374d;
$mizuho-2: #615557;
$mizuho-3: #988b88;
$mizuho-4: #ad9e9b;

$primary-text: #534f5c;
