@use '../mixins/config.scss' as *;

$transition-function-fast-bezier: cubic-bezier(0.23, 1, 0.32, 1);

.#{$namespace}-fade-in-linear-enter-active,
.#{$namespace}-fade-in-linear-leave-active {
  transition: opacity 0.2s linear;
}

.#{$namespace}-fade-in-linear-enter-from,
.#{$namespace}-fade-in-linear-leave-to {
  opacity: 0;
}

.#{$namespace}-zoom-in-top-enter-active,
.#{$namespace}-zoom-in-top-leave-active {
  // opacity: 1;
  // transform: scaleY(1);
  transition: transform 0.3s $transition-function-fast-bezier,
    opacity 0.3s $transition-function-fast-bezier;
  transform-origin: center top;

  &[data-popper-placement^='top'] {
    transform-origin: center bottom;
  }
}

.#{$namespace}-zoom-in-top-enter-from,
.#{$namespace}-zoom-in-top-leave-to {
  opacity: 0;
  transform: scaleY(0);
}

.#{$namespace}-collapse-transition-leave-active,
.#{$namespace}-collapse-transition-enter-active {
  transition: 0.3s max-height ease-in-out;
}
